.sequencer_container {
  display: flex;
  justify-content: center;
}

.sequencer_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #d9d6d6;
  font-size: 14px;
  margin-right: 5px;
}

.sequencer_side_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sequencer_label {
  background-color: #535c61;
  width: 40px;
  padding: 3px 20px;
  margin-bottom: 5px;
  border-radius: 5%;
  box-shadow: 0px 2px 0px 0px #3f484d, 0px -1px 0px 0px #838383;
  text-align: center;
  cursor: pointer;
}

.sequencer_indicator {
  margin-left: 10px;
  width: 5px;
  height: 25px;
  background-color: #4d565b;
}

.sequencer_side_container:first-child .sequencer_indicator {
  border: 1px solid #a8e44a;
}
