.channel-header {
  display: flex;
  justify-content: flex-start;
  padding: 3px 0px;
  color: #c2c8cc;
}

.channel-header .item {
  cursor: pointer;
}

.channel-header #step-switch {
  color: #ffc43f;
}

.channel-header .item:nth-child(-n + 4) {
  flex: auto;
}

.channel-header .item:nth-last-child(-n + 3) {
  padding: 0 7px;
}

.channel-header #ellipsis {
  margin-right: -85px;
  color: grey;
}

.channel-header .item:nth-child(1) {
  padding: 0 7px;
}

/* color: #ffbc40; */
